<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="baseaddress" value="http://localhost:52547/"/>
    <add key="mediatype" value="application/json"/>
    <add key="getasync" value="api/values"/>

    <add key="writeloc" value="console"/>
    <add key="fileloc" value="C:\Temp\CH.txt"/>
  </appSettings>

</configuration>